<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ParallelCrossBrowserTestingSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:27:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_NextPageTest.invokeBrowser(java.lang.String)[pri:0, instance:com.testclasses.TP_NextPageTest@12f41634]">&gt;&gt;invokeBrowser</td> 
<td>&nbsp;</td>  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:28:02</td>   <td>16317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_NextPageTest.deliberateFailureTest()[pri:0, instance:com.testclasses.TP_NextPageTest@12f41634]">deliberateFailureTest</td> 
  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:28:03</td>   <td>17651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_NextPageTest.tearDown()[pri:0, instance:com.testclasses.TP_NextPageTest@12f41634]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:28:04</td>   <td>18674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_NextPageTest.invokeBrowser(java.lang.String)[pri:0, instance:com.testclasses.TP_NextPageTest@12f41634]">&gt;&gt;invokeBrowser</td> 
<td>&nbsp;</td>  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:28:18</td>   <td>32299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_NextPageTest.deliberateFailureTest()[pri:0, instance:com.testclasses.TP_NextPageTest@12f41634]">deliberateFailureTest</td> 
  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:28:18</td>   <td>32986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_NextPageTest.tearDown()[pri:0, instance:com.testclasses.TP_NextPageTest@12f41634]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:28:19</td>   <td>33774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_NextPageTest.invokeBrowser(java.lang.String)[pri:0, instance:com.testclasses.TP_NextPageTest@12f41634]">&gt;&gt;invokeBrowser</td> 
<td>&nbsp;</td>  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:28:33</td>   <td>47356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_NextPageTest.deliberateFailureTest()[pri:0, instance:com.testclasses.TP_NextPageTest@12f41634]">deliberateFailureTest</td> 
  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:28:33</td>   <td>47941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_NextPageTest.tearDown()[pri:0, instance:com.testclasses.TP_NextPageTest@12f41634]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:28:34</td>   <td>48699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_NextPageTest.invokeBrowser(java.lang.String)[pri:0, instance:com.testclasses.TP_NextPageTest@12f41634]">&gt;&gt;invokeBrowser</td> 
<td>&nbsp;</td>  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:28:48</td>   <td>62108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_NextPageTest.deliberateFailureTest()[pri:0, instance:com.testclasses.TP_NextPageTest@12f41634]">deliberateFailureTest</td> 
  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:28:49</td>   <td>63371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_NextPageTest.tearDown()[pri:0, instance:com.testclasses.TP_NextPageTest@12f41634]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:28:50</td>   <td>64230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_NextPageTest.invokeBrowser(java.lang.String)[pri:0, instance:com.testclasses.TP_NextPageTest@52f759d7]">&gt;&gt;invokeBrowser</td> 
<td>&nbsp;</td>  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:29:03</td>   <td>77818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_NextPageTest.deliberateFailureTest()[pri:0, instance:com.testclasses.TP_NextPageTest@52f759d7]">deliberateFailureTest</td> 
  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:29:04</td>   <td>78590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_NextPageTest.tearDown()[pri:0, instance:com.testclasses.TP_NextPageTest@52f759d7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:29:07</td>   <td>81887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_NextPageTest.invokeBrowser(java.lang.String)[pri:0, instance:com.testclasses.TP_NextPageTest@52f759d7]">&gt;&gt;invokeBrowser</td> 
<td>&nbsp;</td>  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:29:19</td>   <td>93547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_NextPageTest.deliberateFailureTest()[pri:0, instance:com.testclasses.TP_NextPageTest@52f759d7]">deliberateFailureTest</td> 
  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:29:20</td>   <td>94447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_NextPageTest.tearDown()[pri:0, instance:com.testclasses.TP_NextPageTest@52f759d7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:29:23</td>   <td>97667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_NextPageTest.invokeBrowser(java.lang.String)[pri:0, instance:com.testclasses.TP_NextPageTest@52f759d7]">&gt;&gt;invokeBrowser</td> 
<td>&nbsp;</td>  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:29:34</td>   <td>108565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_NextPageTest.deliberateFailureTest()[pri:0, instance:com.testclasses.TP_NextPageTest@52f759d7]">deliberateFailureTest</td> 
  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:29:35</td>   <td>109356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_NextPageTest.tearDown()[pri:0, instance:com.testclasses.TP_NextPageTest@52f759d7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:29:37</td>   <td>111851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_NextPageTest.invokeBrowser(java.lang.String)[pri:0, instance:com.testclasses.TP_NextPageTest@52f759d7]">&gt;&gt;invokeBrowser</td> 
<td>&nbsp;</td>  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:29:49</td>   <td>124038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_NextPageTest.deliberateFailureTest()[pri:0, instance:com.testclasses.TP_NextPageTest@52f759d7]">deliberateFailureTest</td> 
  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>19/10/09 10:29:50</td>   <td>124988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_NextPageTest.tearDown()[pri:0, instance:com.testclasses.TP_NextPageTest@52f759d7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1742920067</td>   <td></td> </tr>
</table>
